*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.cmt
*.cmti
/builder/lexer.ml
/builder/parser.ml
/builder/parser.mli
/builder/builder
/builder/builder.exe
/builder/builder.opt.exe
/builder/builder.opt
/builder/static_config.ml
